.workout-tracker-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
.tracker-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20%;
  width: 100%;
}
.graph-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
}
.caution {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 3%;
  background: linear-gradient(to right, #819cff48 28%, #10101009);
  width: 90%;
  align-items: center;
  border-radius: 10px;
  padding-left: 5%;
  padding-right: 5%;
}
.upcoming {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
}
.upcoming-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.upcoming-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  width: 100%;
}
.upcoming-list li {
  display: flex;
  justify-content: space-between;
  box-shadow: -4px 8px 25px -8px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  width: 100%;
  align-items: center;
  gap: 20%;
}
.workout-details-wrapper {
  display: flex;
  align-items: center;
  gap: 2%;

  width: 100%;
}
.workout-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.training-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  z-index: 0;
}
.training-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30%;
  background-color: #8cb0ffaf;
  width: 100%;
  border-radius: 12px;
}
.training-img {
  position: relative;
  top: 3.5vh;
}

@media (max-width: 375px) {
  .tracker-header img {
    width: 20px;
    height: 20px;
  }
  .tracker-header h2 {
    font-size: 20px;
    font-weight: 600;
  }
  .upcoming-header {
    margin-bottom: 5%;
  }
  .upcoming-header h3 {
    font-size: 16px;
    font-weight: 600;
  }
  .upcoming-header p {
    font-size: 12px;
    font-weight: 500;
  }
  .graph-wrapper img {
    width: 343px;
    height: 89.98px;
  }
  .workout-details-wrapper img {
    width: 50px;
    height: 50px;
  }
  .toggle {
    width: 40px;
    height: 20px;
  }
  .workout-title {
    font-size: 15px;
    font-weight: 500;
  }
  .workout-time {
    font-size: 8px;
    color: #7f7f7f;
    font-weight: 500;
  }
  .caution {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .caution img {
    width: 20px;
    height: 20px;
  }
  .caution p {
    font-size: 12.57px;
    font-weight: 500;
    width: 281px;
    height: 30px;
  }
  .upcoming-list li {
    height: 85px;
    width: 343px;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 7%;
  }
  .training-type {
    margin-top: -5%;
  }
  .training-img img {
    width: 100px;
    height: 100px;
  }
  .training-title {
    font-weight: 500;
    font-size: 12px;
  }
  .training-item {
    font-weight: 500;
    font-size: 10px;
  }
}
